name: CI Build
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        java_version: [11, 17]

    steps:
      - name: Checkout ICAT Client
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.0.0

      - name: Set up JDK
        uses: actions/setup-java@cd89f46ac9d01407894225f350157564c9c7cee2 # v3.12.0
        with:
          java-version: ${{ matrix.java_version }}
          distribution: 'temurin'

      - name: Installation
        run: |
          sudo pip install ansible
          sudo apt-get update

      - name: Checkout ICAT Ansible
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.0.0
        with:
          repository: icatproject-contrib/icat-ansible
          path: icat-ansible
          ref: master

      # Remove existing MySQL installation so it doesn't interfere with GitHub Actions
      - name: Remove existing mysql
        run: |
          sudo apparmor_parser -R /etc/apparmor.d/usr.sbin.mysqld
          sudo apt-get remove --purge "mysql*"
          sudo rm -rf /var/lib/mysql* /etc/mysql

      - name: Setup Ansible
        run: |
          cd icat-ansible
          echo -e "[icat_client_dev_hosts]\nlocalhost ansible_connection=local" > hosts
          echo -e "icattravispw" > vault_pass.txt
          mv ./vault.yml ./group_vars/all
          cp ../icat_client_dev_hosts.yml .
          sed -i -e "s/^payara_user: \"glassfish\"/payara_user: \"runner\"/" ./group_vars/all/vars.yml
          ansible-playbook --vault-password-file ./vault_pass.txt --inventory ./hosts ./icat_client_dev_hosts.yml

      - name: Test with Maven
        run: mvn -DserverUrl=https://$(hostname -f):8181 test -B
