<html>
<head>
<title>ICAT Clients Installation</title>
</head>



<body>

	<h1>ICAT Clients Installation</h1>

	<p>icat.client only consists of a jar file that is made available in the 
		maven repository of the ICAT project. It does not need to be installed 
		locally. In order to use it in a Java application, add a dependency for 
		the appropriate version of icat.client to the pom file of your 
		application (see below for details). The build process will then fetch 
		it from the repository as needed. Alternatively, if you are not using 
		maven, download the jar file and add it to the classpath of your 
		project.</p>

	<h3>Compatibility</h3>
	<p>For full functionality you need an icat.server version 5.0.0 or
		greater. The restful client will work with earlier releases of the
		icat.server except that individual calls will fail if not supported by
		the server.</p>

	<h3>Prerequisites</h3>

	<ul>

		<li>The icat client distribution: <a
			href="${repoUrl}/org/icatproject/icat.client/${project.version}/icat.client-${project.version}-distro.zip">icat.client-${project.version}-distro.zip</a>
		</li>

		<li>A deployed icat server. This is not necessary for deployment
			but it will be required subsequently to use the client.</li>

	</ul>

	<h2>Java clients</h2>

	<p>There are two files that should be made available to those
		wishing to use the ICAT client:</p>
	<dl>
		<dt>
			<a
				href="${repoUrl}/org/icatproject/icat.client/${project.version}/icat.client-${project.version}.jar">icat.client-${project.version}.jar</a>
		</dt>
		<dd>the client library which the user should add to the
			classpath.</dd>
		<dt>
			<a
				href="${repoUrl}/org/icatproject/icat.client/${project.version}/icat.client-${project.version}-sources.jar">icat.client-${project.version}-sources.jar</a>
		</dt>
		<dd>the source code of the client, which is especially useful
			when developing within an IDE.</dd>
	</dl>

	<h3>Using the Java client from maven</h3>
	<p>It is expected that most people will express their dependency
		upon the icat.client by means of a maven pom file. To do this the user
		needs to define the repository and express the dependency as indicated
		in the snippet below:</p>

	<code>
		&lt;repositories&gt; <br /> &#160;&#160;&#160;&lt;repository&gt; <br />
		&#160;&#160;&#160;&#160;&#160;&#160;&lt;id&gt;ICAT Repo&lt;/id&gt; <br />
		&#160;&#160;&#160;&#160;&#160;&#160;&lt;url&gt;${repoUrl}&lt;/url&gt;
		<br /> &#160;&#160;&#160;&#160;&#160;&#160;&lt;snapshots&gt; <br />
		&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&lt;enabled&gt;false&lt;/enabled&gt;
		<br /> &#160;&#160;&#160;&#160;&#160;&#160;&lt;/snapshots&gt; <br />
		&#160;&#160;&#160;&lt;/repository&gt; <br /> &#160;&#160;&#160;... <br />
		&lt;/repositories&gt; <br /> <br /> &lt;dependencies&gt; <br />
		&#160;&#160;&#160;&lt;dependency&gt; <br />
		&#160;&#160;&#160;&#160;&#160;&#160;&lt;groupId&gt;org.icatproject&lt;/groupId&gt;
		<br />
		&#160;&#160;&#160;&#160;&#160;&#160;&lt;artifactId&gt;icat.client&lt;/artifactId&gt;
		<br />
		&#160;&#160;&#160;&#160;&#160;&#160;&lt;version&gt;${project.version}&lt;/version&gt;
		<br /> &#160;&#160;&#160;&lt;/dependency&gt; <br /> <br />
		&nbsp;&nbsp;&nbsp;&lt;dependency&gt; <br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;groupId&gt;org.glassfish&lt;/groupId&gt;<br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;artifactId&gt;jakarta.json&lt;/artifactId&gt;<br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;version&gt;1.1.5&lt;/version&gt;<br />
		&nbsp;&nbsp;&nbsp;&lt;/dependency&gt;<br /> &#160;&#160;&#160;... <br />
		&lt;/dependencies&gt;
	</code>
</body>
</html>
